<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
 </head>
	  
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
			      <a href="#" class="brand-logo">Locadora Noca</a>
			      
				      <ul id="nav-mobile" class="right hide-on-med-and-down">				      					      	
				      	<li><a href="/locacoes" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Locações</a></li>				      	
				        <li><a href="/agencias" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Agencias</a></li>
						<li><a href="/carros" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Carros</a></li>
						<li><a href="/motos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Motos</a></li>
						<li><a href="/clientes" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Clientes</a></li>
						<li><a href="/funcionarios" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Funcionários</a></li>
		      </ul>
		    </div>
		</nav>	
	</header>
	
	<p><div align="center"> <h3>Locadora Noca</h3></div></p>
	<p><div align="center"><img src="https://www.sixt.com.br/fileadmin/user_upload/Europe_brazil_compressed.png"></div></p>
	
	


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
	
</body>
</html>